
* {
	display: block;
	vertical-align: top
}
body {
	background-color: #9CC59B;
}
p {
	font-family:'Barrio', cursive;
	color: #980058;
	font-size: 25px;
}
/* Smartphone - mobile first <=570px */

fieldset legend {
	font-family: 'Barrio', cursive;
	color: #85359C;
	font-size: 20px;
}

input[type="radio"], input[type="checkbox"], label {
	display: inline;
	
}
#checkbox input input {
	float: left;
}

label::after {
	content: "";
	display: block;
}

head {
	display: none;
}

input:invalid {
	background: #F0C060;
}

input:valid {
	background: #ECE7CA;
}

input:required {
	background: #aaaaaa;
}

fieldset {
	width: 300px;
	background-color: #8BB58D;
}

button {
	display: inline;
	margin: 0px;
	padding: 0px;
	background-color: #980058;
	color: white;
}

@media screen and (min-width: 1024px) {
	html {
		max-width: 100%;
	}
	fieldset {
	width: 300px;
	background-color: #8BB58D;
	float: left;
}
}
